@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Open+Sans+Condensed:300|Rajdhani:400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import url('./font-awesome.min.css');

.bg {
  background: url(../images/background.jpg);
}

.padding15 {
  padding: 15px 0;
}

.padding30 {
  padding: 30px 0;
}

.padding60 {
  padding: 60px 0;
}

body {
  font-family: 'Barlow Condensed', sans-serif !important;
}

/*top-bar*/

header {
  .top-bar {
    background: #000;
    .fa {
      margin-top: 6px;
    }
    .social {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          padding: 0 6px;
          float: left;
          font-size: 20px;
          a {
            color: #fff;
          }
        }
      }
    }
    input[type="text"] {
      background: none;
      border: none;
      color: #fff;
      text-transform: uppercase;
      padding: 5px;
      width: 90%;
    }
    .fa-search {
      color: #5e606d;
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }
  }
  nav {
    background: #171926;
    padding: 20px 0;
    border: 1px solid #4c568a;
    border-width: 1px 0px 1px 0px;
  }
  .logo {
    position: absolute;
    left: 0px;
    top: -18px;
    width: 315px;
  }
}

/*navigation*/

.menuzord {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  width: 100%;
  float: left;
  position: relative;
  a {
    -o-transition: color .3s linear, background .3s linear;
    -moz-transition: color .3s linear, background .3s linear;
    -webkit-transition: color .3s linear, background .3s linear;
    transition: color 0.3s linear, background 0.3s linear;
  }
}

.menuzord-menu.scrollable > .scrollable-fix {
  display: none;
}

.menuzord-brand {
  margin: 18px 30px 0 0;
  float: left;
  color: #666;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  cursor: pointer;
}

.menuzord-menu {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  &.menuzord-right {
    float: right;
  }
  > li {
    display: inline-block;
    float: left;
    > a {
      padding: 7px 16px;
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
      outline: 0;
      line-height: 1.42857143;
      -webkit-tap-highlight-color: transparent;
    }
  }
  .active {
    background: #ff1a00;
    border: solid 1px #ff9801;
    box-shadow: 0 0 8px #ff9900;
  }
  > li {
    &.active > a, &:hover > a {
      color: #333;
    }
  }
  ul.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 180px;
    white-space: nowrap;
    background: #6b2c8d;
    li {
      ul.dropdown {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 99;
        min-width: 180px;
        white-space: nowrap;
        background: #6b2c8d;
        left: 100%;
      }
      clear: both;
      width: 100%;
      border: 0;
      font-size: 12px;
      position: relative;
      border-top: solid 1px #000000;
      border-bottom: solid 1px #8946ae;
      &:first-child {
        clear: both;
        width: 100%;
        border: 0;
        font-size: 12px;
        position: relative;
        border-top: none;
        border-bottom: none;
      }
      a {
        width: 100%;
        background: 0 0;
        padding: 10px 25px 10px 22px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        float: left;
        clear: both;
        position: relative;
        outline: 0;
        -o-transition: padding .2s linear;
        -moz-transition: padding .2s linear;
        -webkit-transition: padding .2s linear;
        transition: padding 0.2s linear;
      }
      &:hover > a {
        padding-left: 28px;
        padding-right: 19px;
        color: #333;
      }
    }
    &.dropdown-left {
      left: none;
    }
    li ul.dropdown.dropdown-left {
      left: -100%;
    }
  }
  li {
    .indicator {
      margin-left: 3px;
    }
    ul.dropdown li .indicator {
      position: absolute;
      top: 8px;
      right: 10px;
      font-size: 15px;
    }
  }
  > li > .megamenu {
    width: 100%;
    padding: 20px 30px;
    left: 0;
    position: absolute;
    display: none;
    z-index: 99;
    border-top: solid 1px #f0f0f0;
    background: #fff;
    &.megamenu-half-width {
      width: 50%;
      left: auto;
    }
    &.megamenu-quarter-width {
      width: 25%;
      left: auto;
    }
    .megamenu-row {
      width: 100%;
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
      &:after, &:before {
        display: table;
        content: "";
        line-height: 0;
      }
      &:after {
        clear: both;
      }
      .col1, .col10, .col11, .col12, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9 {
        display: block;
        min-height: 20px;
        float: left;
        margin-left: 3%;
      }
      [class*=col]:first-child {
        margin-left: 0;
      }
      .col1 {
        width: 5.58333%;
      }
      .col2 {
        width: 14.16667%;
      }
      .col3 {
        width: 22.75%;
      }
      .col4 {
        width: 31.33333%;
      }
      .col5 {
        width: 39.91667%;
      }
      .col6 {
        width: 48.5%;
      }
      .col7 {
        width: 57.08333%;
      }
      .col8 {
        width: 65.66667%;
      }
      .col9 {
        width: 74.25%;
      }
      .col10 {
        width: 82.83333%;
      }
      .col11 {
        width: 91.41667%;
      }
      .col12 {
        width: 100%;
      }
    }
  }
}

.menuzord .showhide {
  width: 60px;
  height: 46px;
  padding: 13px 0 0;
  display: none;
  float: right;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  em {
    width: 20px;
    height: 3px;
    margin: 3.5px 20px 0;
    float: right;
    background: #fff;
  }
}

.menuzord-menu > li {
  > a > i {
    margin: 0 5px 0 0;
    font-size: 18px;
    float: left;
    line-height: 20px;
    font-family: FontAwesome;
  }
  &.search form {
    float: left;
    padding: 22px 16px 17px;
    input[type=text] {
      width: 160px;
      padding: 5px 10px;
      font-family: 'Open Sans', sans-serif;
      border: none;
      background: #f0f0f0;
      border-radius: 2px;
      outline: 0;
      -o-transition: width 1s ease-out;
      -moz-transition: width 1s ease-out;
      -webkit-transition: width 1s ease-out;
      transition: width 1s ease-out;
    }
    &:hover input[type=text] {
      width: 160px;
    }
  }
}

.menuzord-tabs {
  width: 100%;
  float: left;
}

.menuzord-tabs-nav {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  > li > a {
    width: 100%;
    padding: 7px 16px;
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #666;
    border: 1px solid #f0f0f0;
    outline: 0;
  }
  li {
    &.active a, &:hover a {
      background: #f0f0f0;
    }
  }
}

.menuzord-tabs-content {
  width: 80%;
  min-height: 30px;
  padding: 20px;
  float: right;
  display: none;
  font-size: 13px;
  border: 1px solid #f0f0f0;
  &.active {
    display: block;
  }
}

.menuzord {
  &.blue .menuzord-menu {
    ul.dropdown li:hover > a {
      color: #4A89DC;
    }
    > li {
      &.active > a, &:hover > a {
        color: #4A89DC;
      }
    }
  }
  &.green .menuzord-menu {
    ul.dropdown li:hover > a {
      color: #37BC9B;
    }
    > li {
      &.active > a, &:hover > a {
        color: #37BC9B;
      }
    }
  }
  &.red .menuzord-menu {
    ul.dropdown li:hover > a {
      color: #fff;
    }
    > li {
      &.active > a, &:hover > a {
        color: #fff;
      }
    }
  }
  &.orange .menuzord-menu {
    ul.dropdown li:hover > a {
      color: #ff670f;
    }
    > li {
      &.active > a, &:hover > a {
        color: #ff670f;
      }
    }
  }
  &.yellow .menuzord-menu {
    ul.dropdown li:hover > a {
      color: #F6BB42;
    }
    > li {
      &.active > a, &:hover > a {
        color: #F6BB42;
      }
    }
  }
  &.purple .menuzord-menu {
    ul.dropdown li:hover > a {
      color: #967ADC;
    }
    > li {
      &.active > a, &:hover > a {
        color: #967ADC;
      }
    }
  }
  &.pink .menuzord-menu {
    ul.dropdown li:hover > a {
      color: #D770AD;
    }
    > li {
      &.active > a, &:hover > a {
        color: #D770AD;
      }
    }
  }
}

@media (max-width: 768px) {
  .menuzord-responsive {
    &.menuzord {
      padding: 0;
    }
    .menuzord-brand {
      margin: 8px 30px 10px 20px;
      font-size: 20px;
      line-height: 1.55;
    }
    .showhide {
      margin: 0;
    }
    .menuzord-menu {
      width: 100%;
      float: left !important;
      background: #181a27;
      &.scrollable {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        > .scrollable-fix {
          display: block;
        }
      }
      > li {
        width: 100%;
        display: block;
        position: relative;
        > a {
          width: 100%;
          padding: 3px 20px;
          display: block;
          border-top: solid 1px #000000;
          border-bottom: solid 1px #4a5487;
          font-size: 16px;
        }
        &:first-child > a {
          border: none;
        }
      }
      ul.dropdown {
        width: 100%;
        left: 0;
        position: static;
        border: none;
        float: left;
        li {
          ul.dropdown {
            width: 100%;
            left: 0;
            position: static;
            border: none;
            float: left;
          }
          position: relative;
          a {
            border-bottom: solid 1px #8946ae;
          }
        }
      }
      &.menuzord-indented > li > ul.dropdown > li {
        > {
          a {
            padding-left: 40px !important;
          }
          ul.dropdown > li > {
            a {
              padding-left: 60px !important;
            }
            ul.dropdown > li > a {
              padding-left: 80px !important;
            }
          }
        }
        &:hover > a {
          padding-left: 50px !important;
        }
        > ul.dropdown > li {
          &:hover > a {
            padding-left: 70px !important;
          }
          > ul.dropdown > li:hover > a {
            padding-left: 90px !important;
          }
        }
      }
      li {
        .indicator {
          width: 60px;
          height: 45px;
          position: absolute;
          right: 0;
          top: 0;
          font-size: 22px;
          text-align: center;
          line-height: 43px;
          border-left: solid 1px #8946ae;
        }
        ul.dropdown li .indicator {
          height: 38px;
          right: 0;
          top: 0;
          font-size: 18px;
          line-height: 36px;
        }
      }
      > li {
        > .megamenu {
          width: 100% !important;
          left: 0 !important;
          position: static;
          border-top: none;
          border-bottom: solid 1px #f0f0f0;
          .megamenu-row {
            [class*=col] {
              float: none;
              display: block;
              width: 100% !important;
              margin-left: 0;
              margin-top: 15px;
            }
            margin-top: 0;
            &:first-child [class*=col]:first-child {
              margin-top: 0;
            }
          }
        }
        &.search form {
          width: 100%;
          margin: 4px 0;
          padding: 10px 16px !important;
          input[type=text] {
            width: 100%;
          }
        }
      }
    }
    .menuzord-tabs-content, .menuzord-tabs-nav {
      width: 100%;
    }
  }
}

/*end*/

/*banner*/

figure {
  background: url(../images/banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .banner_wrapper {
    background: url(../images/line1.png) no-repeat left top;
    padding: 5px 0 0 35px;
    margin-top: 15%;
    margin-bottom: 10%;
    h1 {
      font-size: 52px;
      font-weight: 600;
      text-transform: uppercase;
      color: #ff1a00;
      border: 0 solid #000;
      margin-bottom: 15px;
      text-shadow: 0 0 2px #ff9a00;
    }
    p {
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
    }
    button {
      background: #ff1a00;
      border: solid 1px #ff9900;
      color: #fff;
      text-transform: uppercase;
      font-size: 22px;
      padding: 3px 16px;
      margin-right: 10px;
      box-shadow: 0 0 8px #ff9900;
    }
  }
}

/*End*/
/*New*/

section {
  .news {
    background: url(../images/red-arch.png) no-repeat left center;
    text-align: right;
    padding: 0;
    border: 1px solid #ff1a00;
    border-width: 1px 0px 1px 0px;
  }
  .update_bar {
    color: #FFFFFF;
  }
  .update_heading {
    padding-right: 3%;
    float: left;
    width: 17%;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 2px;
    h3 {
      margin: 0;
      font-size: 24px;
    }
  }
  .update_text {
    float: right;
    width: 79%;
    margin-left: 3%;
    padding: 0 0;
    p {
      float: left;
      padding: 4px 5px 5px 5px;
      margin: 0 15px 0 0;
    }
    .tag {
      font-size: 11px;
      background: #8093ff;
      color: #FFFFFF;
      padding: 3px 10px;
      border-radius: 35px;
    }
  }
}

/*article box*/

article .box {
  position: relative;
  margin-bottom: 20px;
  display: block;
  background: #160301;
  cursor: pointer;
  .content {
    position: absolute;
    bottom: 10px;
    color: #fff;
    padding: 10px;
    display: block;
  }
  img {
    width: 100%;
    display: block;
    opacity: 0.3;
    filter: alpha(opacity = 30);
    /* For IE8 and earlier */
    transition: all 0.3s ease 0s;
  }
  &:hover img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.7;
    filter: alpha(opacity = 70);
    /* For IE8 and earlier */
  }
  .content {
    p {
      font-size: 20px;
      text-transform: uppercase;
    }
    .tag {
      background: #ff1a00 !important;
      display: table;
      padding: 3px 13px;
      border-radius: 20px;
      font-size: 13px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/*End*/
/*Latest News*/

section .latest {
  h2 {
    font-size: 30px;
    margin: 0 0 10px;
    border-left: 3px solid #ff1a00;
    padding-left: 10px;
    color: #fff;
  }
  .box {
    position: relative;
    background: #160301;
    .content {
      position: absolute;
      bottom: 30px;
      color: #fff;
      padding: 30px;
      .date {
        color: #ff1a02;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .title {
        font-size: 30px;
        text-transform: uppercase;
      }
      a {
        color: #ff1a02;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        &::before {
          content: url(../images/ico.png);
          height: 13px;
          margin-right: 5px;
        }
      }
    }
    &:hover {
      .content .date, a {
        color: #fff;
      }
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      opacity: 0.3;
      filter: alpha(opacity = 30);
      /* For IE8 and earlier */
      transition: all 0.3s ease 0s;
    }
    &:hover img {
      width: 100%;
      height: auto;
      display: block;
      opacity: 0.7;
      filter: alpha(opacity = 70);
      /* For IE8 and earlier */
    }
  }
  .right-box {
    margin-bottom: 10px;
    img {
      border: solid 1px #7f94ff;
    }
    p {
      color: #ff1a02;
      font-size: 18px;
      margin: 10px 0;
    }
    a {
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      text-decoration: underline;
    }
  }
}

/*End*/
/*Member*/

aside {
  h2 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    border-left: solid 3px #ff1a02;
    padding-left: 10px;
  }
  .member {
    border: solid 1px #7f94ff;
    padding: 10px;
    margin: 10px 0;
    .title {
      color: #ff1a02;
      font-size: 20px;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      font-size: 14px;
      a {
        color: #ff1a02;
        text-transform: uppercase;
        text-decoration: none;
        &::before {
          content: url(../images/ico.png);
          height: 13px;
          margin-right: 5px;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/*End*/
/*About page*/

section .about {
  h1 {
    color: #ff1a02;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  p {
    color: #fff;
    font-size: 16px;
  }
  .button {
    background: #ff1a00;
    border: solid 1px #ff9900;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 9px 16px;
    margin-right: 10px;
    box-shadow: 0 0 8px #ff9900;
    display: table;
    margin-top: 10px;
    text-decoration: none;
  }
  .button2 {
    background: #ff1a00;
    border: solid 1px #ff9900;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    padding: 5px 16px;
    margin-right: 10px;
    box-shadow: 0 0 8px #ff9900;
    display: table;
    margin-top: 20px;
    text-decoration: none;
  }
  .img {
    border: solid 1px #7f94ff;
  }
}

/*breadcrumb bar*/

figcaption .breadcrumb {
  background: none;
  margin: 34px 0 0 0;
  li {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    span {
      color: #8193ff;
    }
  }
  > li + li::before {
    content: url(../images/ico2.png);
    height: 10px;
    padding: 0 5px;
    color: #ccc;
  }
}

/*Team Page*/

section {
  .team .box {
    border: solid 1px #7f94ff;
    padding: 10px;
    display: table;
    width: 100%;
    margin-bottom: 10px;
    .img {
      border: solid 1px #8193ff;
      border-width: 1px 1px 1px 4px;
      padding: 4px;
      margin-right: 6px;
    }
    .title {
      color: #ff1a02;
      text-transform: uppercase;
      font-size: 20px;
    }
    .text {
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      margin-bottom: 10px;
    }
    .title2 {
      color: #ff1a02;
      font-size: 17px;
      text-transform: uppercase;
    }
    .date {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
    }
    .border {
      border: solid 1px #8193ff;
      border-width: 1px 0px 1px 0px;
      display: table;
      margin-top: 10px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    a {
      color: #ff1a02;
      font-size: 19px;
      ttext-decoration: none;
      &:hover {
        text-decoration: none;
      }
      &::before {
        content: url(../images/ico.png);
        height: 13px;
        margin-right: 5px;
      }
    }
  }
  .blank {
    border: solid 1px #8193ff;
    padding: 20px;
    margin-bottom: 20px;
    h2 {
      font-size: 25px;
      margin: 0;
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 17px;
      line-height: 30px;
      margin: 10px 0;
    }
    .list {
      margin: 10px 0;
      ul {
        margin: 0px;
        padding: 0;
        li {
          list-style: none;
          padding: 5px 0;
          color: #ff1a02;
          font-size: 17px;
        }
      }
    }
  }
  .team-member {
    .box {
      border: solid 1px #8193ff;
      padding: 20px;
      margin-bottom: 20px;
      h2 {
        font-size: 25px;
        margin: 0;
        color: #fff;
      }
      p {
        color: #fff;
        font-size: 17px;
        line-height: 30px;
        margin: 10px 0;
      }
      .list {
        margin: 10px 0;
        ul {
          margin: 0px;
          padding: 0;
          li {
            list-style: none;
            padding: 5px 0;
            color: #ff1a02;
            font-size: 17px;
          }
        }
      }
    }
    .img {
      position: relative;
      .border-left {
        position: absolute;
        left: -10px;
      }
      .border-right {
        float: right;
        margin-top: -40px;
        margin-right: -9px;
      }
      button {
        border: solid 1px #8193ff;
        background: none;
        padding: 10px 18px;
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
      }
    }
  }
}

/*content*/

/*team-member*/

/*footer*/

.footer {
  background: rgba(25, 26, 28, 0.9);
  padding: 30px 0;
}

footer {
  h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 0 10px;
    border-left: solid 3px #ff1a02;
    padding-left: 10px;
  }
  ul {
    margin: 0px;
    padding: 0;
    li {
      list-style: none;
      padding: 3px 0;
      font-size: 16px;
      text-transform: uppercase;
      a {
        color: #ff1a02;
        text-decoration: none;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .copy {
    padding: 20px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  /*top-bar*/
  header {
    .top-bar {
      .social {
        float: left;
        ul li {
          list-style: none;
          padding: 0 4px;
          float: left;
          font-size: 18px;
        }
      }
      input[type="text"] {
        background: none;
        border: none;
        color: #fff;
        text-transform: uppercase;
        padding: 5px;
        width: 88%;
      }
    }
    .logo {
      position: absolute;
      left: 4px;
      top: -12px;
      width: 280px;
    }
  }
  /*header*/
  /*banner*/
  figure {
    background: url(../images/banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .banner_wrapper {
      background: url(../images/line1.png) no-repeat left top;
      padding: 5px 0 0 35px;
      margin-top: 5%;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  /*New*/
  section {
    .news {
      background: none;
      padding: 0;
      border: 1px solid #ff1a00;
      border-width: 1px 0px 1px 0px;
    }
    .update_heading h3 {
      margin: 10px 0;
      font-size: 13px;
    }
    .latest .box .content {
      bottom: 10px;
      padding: 20px;
      .title {
        font-size: 16px;
        text-transform: uppercase;
      }
      p {
        margin: 0;
      }
    }
  }
  /*latest news*/
}

@media (min-width: 768px) and (max-width: 991px) {
  /*banner*/
  figure {
    background: url(../images/banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .banner_wrapper {
      background: url(../images/line1.png) no-repeat left top;
      padding: 5px 0 0 35px;
      margin-top: 25%;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  /*News*/
  section {
    .news {
      background: url(../images/red-arch.png) no-repeat left center;
      text-align: right;
      padding: 0;
      border: 1px solid #ff1a00;
      border-width: 1px 0px 1px 0px;
    }
    .update_bar {
      color: #FFFFFF;
    }
    .update_heading {
      padding-right: 3%;
      float: left;
      width: 26%;
      text-transform: uppercase;
      font-weight: 300;
      padding-bottom: 5px;
      padding-top: 2px;
      h3 {
        margin: 0;
        font-size: 24px;
      }
    }
    .update_text {
      float: right;
      width: 40%;
      margin-left: 3%;
      padding: 0 0;
    }
  }
  /*article box*/
  article .box .content p {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /*News*/
  section .update_text {
    float: right;
    width: 55%;
    margin-left: 3%;
    padding: 0 0;
  }
}

/* Bootstrap Overrides */

.top-fix {
  width: 63%;
}

.custom-social {
  width: 20%;
}